/* Diagnosis */
.diagnosis {
	width: 350px;
}

/* Disease */
.card-img-top {
	height: 250px;
	width: 330px;
}

/* Doctor */
.doctor {
	width: 325px;
}

/* Footer */
.footer hr {
	width: 100%;
	border: 1px solid black;
}
.footer a {
	text-decoration: none;
	color: inherit;
}
.footer a:hover {
	color: #9b77fe;
}

/* Navbar */
nav {
	padding: 0;
	height: 80px;
	z-index: 3;
}
.avatar {
	width: 32px;
	height: 32px;
	border-radius: 50%;
	object-fit: cover;
}
.logout {
	font-size: 24px;
}

/* Sidebar */
.sidebar {
	background-color: #9b77fe;
	min-height: calc(100vh - 80px);
	width: 235px;
	color: white;
	font-weight: bold;
	position: relative;
}
.sidebar div {
	margin: 30px 0;
}
.iconAdmin {
	color: black;
	font-size: 24px;
}
.sidebar a:hover {
	color: black;
}
.iconPatient {
	width: 24px;
}
.iconDashboard {
	width: 24px;
	height: 20px;
}
