* {
	margin: 0;
	box-sizing: border-box;
	scroll-behavior: smooth;
}

.top {
	padding-top: 80px;
}
a {
	text-decoration: none;
	font-weight: bold;
	color: inherit;
}
a:hover {
	color: #9b77fe;
}
button {
	width: fit-content;
	background-color: #9b77fe;
	padding: 5px 15px;
	border: none;
	border-radius: 10px;
	color: white;
	/* font-weight: bold; */
}
button:hover {
	opacity: 0.75;
}
input {
	width: 40%;
	margin: 0px 40px 20px 0;
	padding: 5px;
	padding-left: 15px;
	border: 1px solid gray;
}
select {
	margin-bottom: 20px;
	display: flex;
	flex-direction: row;
	justify-content: center;
}
textarea {
	width: 83.5%;
	padding: 10px 15px;
}
h1 {
	font-weight: bold;
	font-size: 40px;
	text-align: center;
	margin: 25px 0;
}
h2 {
	font-weight: bold;
	font-size: 32px;
	text-align: center;
	margin: 15px 0;
}
h3 {
	font-weight: bold;
	font-size: 28px;
	text-align: center;
	margin: 10px 0;
}
h4 {
	font-weight: bold;
	font-size: 24px;
	text-align: start;
	margin: 10px 0;
}
h5 {
	font-weight: bold;
	font-size: 20px;
	margin: 5px 0;
}
p {
	font-size: 16px;
	margin-bottom: 15px;
}
.icon-green {
	color: green;
	padding: 5px;
}
.icon-red {
	color: red;
	padding: 5px 10px;
}
.icon-green:hover,
.icon-red:hover {
	cursor: pointer;
	background: lightgray;
	border-radius: 50%;
}
.addPhoto {
	cursor: pointer;
	border-radius: 10px;
	background-color: #9b77fe;
	color: white;
	padding: 0 10px;
	display: flex;
	align-items: center;
}
.imgPP {
	width: 200px;
	height: 200px;
	object-fit: contain;
}
.textWrap {
	white-space: nowrap;
	overflow: hidden;
	text-overflow: "...";
	max-width: 50px;
}
