/* Admin */
.admin {
	min-height: 100vh;
}
/* AdminDashboard */
.adminDashboard {
	height: 100%;
}
.adminDashboardRight img {
	height: 40px;
}
.dashboardTotalPatient {
	width: 50px;
}
.adminDashboard .card {
	width: 350px;
	height: 275px;
	margin: 25px;
}
/* AdminSchedules */
.scheduleBgPhoto {
	width: 300px;
	height: 300px;
	border-radius: 50%;
}
/* End of Admin */

/* Doctor */
/* DoctorDetails */
.doctorDetailsHeader {
	background-color: #bcd4e6;
	border-radius: 50px;
}
/* DoctorPatientDetails */
.imgPatient {
	width: 261px;
	height: 261px;
}
/* End of Doctor */

/* General */
/* Home */
.homeHeader {
	height: 100vh;
}
.imgHero {
	height: calc(100vh - 80px);
	width: 100%;
	object-fit: cover;
}
.homeHeaderText {
	top: 40vh;
	right: 20%;
	background-color: rgba(200, 200, 200, 0.9);
	padding: 25px;
	border-radius: 25px;
}
.homeHeaderText h1 {
	margin-top: 0;
	font-size: 3rem;
}
.homeHeaderText h5 {
	font-style: italic;
	font-size: 2rem;
}
.homeAbout,
.homeDisease {
	height: calc(100vh-80px);
}
.inputHome {
	margin-left: 40px;
}

/* Login */
.error {
	color: red;
}
.success {
	color: green;
}

/* NotFound */
.notFound img {
	width: 100%;
	height: calc(90vh - 80px);
}

/* Patient */
/* PatientAccountDetails */
.imgPatientProfile {
	height: 200px;
	margin-top: 30px;
}
/* PatientDoctors */
.imgDoctors {
	height: calc(100vh - 80px);
	width: 100%;
	object-fit: cover;
}
.patientDoctorsInput {
	width: 50%;
}
/* PatientDoctorDetails */
.doctorDetailsHeader,
.imgHeader {
	max-height: calc(100vh - 80px);
}

@media only screen and (max-width: 1600px) {
	.homeHeaderText h1 {
		font-size: 2rem;
	}
	.homeHeaderText h5 {
		font-size: 1.5rem;
	}
}
