/* Admin */
/* AdminAccountDetails */
.adminAccountDetails .card {
	border-radius: 50px;
}
[alt="admin-profile"] {
	width: 235px;
}
/* AdminDashboard */
.adminDashboardRight img {
	height: 40px;
}
.dashboardTotalPatient {
	width: 50px;
}
.adminDashboard .card {
	width: 350px;
	height: 275px;
	margin: 25px;
}
/* AdminSchedules */
.scheduleBgPhoto {
	width: 300px;
	height: 300px;
	border-radius: 50%;
}
/* End of Admin */

/* Doctor */
/* DoctorDetails */
.doctorDetailsHeader {
	background-color: #bcd4e6;
	border-radius: 50px;
}
/* End of Doctor */

/* General */
/* Home */
.homeHeader {
	height: 100vh;
}
.homeHeaderText {
	top: 40%;
	right: 15%;
}
.homeAbout,
.homeDisease {
	height: calc(100vh-100px);
}

/* Patient */
[name="doctor"] {
	width: 40%;
}
.patientDoctorsInput {
	width: 50%;
}

/* NotFound */
.notFound img {
	width: 100%;
}
